<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/main-styles.css" type="text/css" />
   	{{!-- <link rel="stylesheet" href="/assets/css/landing.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/user.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/admin.css" type="text/css" /> --}}
	<script src="/javascript/app.js"></script>
	{{!-- <script src="/javascript/admin.js"></script> --}}
	{{!-- <script src="/javascript/user.js"></script> --}}
	<title>TestAutehntication</title>
</head>
<body>

<!--Page render-->
	<div class="content-body">
		{{{body}}}
	</div>

<!--Site Footer-->
	<footer class="site-footer">
		<p>web site project2</p>
	</footer>

</body>
</html>
