<!--Error Block-->
<div class="error-block">
    {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    {{/if}}
</div>

<!--Login Modal-->
<div class="login-modal">
    <div class="login-modal-content">
        <span class="close">&times;</span>
        <h2 class="login-header">Account Login</h2>

        <form method="POST">
            <div class="login__username">
                <label>Username:</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="login__password">
                <label>Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button class ="submit-button" type="submit" formaction="/login">Login</button>
           
        </form>
    </div>
</div>

<!--Register Modal-->
<div class="register-modal">
    <div class="register-modal-content">
        <span class="close">&times;</span><h2 class="register-header">Sign Up!</h2>
        <form method="POST" action="/users/register">
            <div class="register__name"> 
                <label>Name:</label>
                <input type="text" class="form-control" placeholder="Name" name="name">
            </div>
            <div class="register__username">
                <label>Username:</label>
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <div class="register__email">
                <label>Email:</label>
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="register__password">
                <label>Password:</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="register__password--confirm">
                <label>Confirm Password:</label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
            </div>
            <button class="submit-button submit-button__register" type="submit">Sign Up</button>
        </form>
    </div>
</div>

<!--Site Header-->
<div class="site-header">
    <ul>
        <li class="header-button login-button"><button type="button">Login</button></li>
        <li class="header-button register-button"><button type="button">Sign Up!</button></li>
    </ul>
</div>

