<div id="home">
  <div class="container movie-result">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="movie-search">Search Movie</label>
            <input type="text" id="movie-search" class="form-control" aria-describedby="movie-search" placeholder="Movie Title ...">
          </div>
          <button id="submit" class="btn btn-primary float-right btn-search">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="movie-search-container" class="row d-flex justify-content-around">

    </div>
  </div>
</div>